<!-- index.handlebars -->
<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h1 class="text-white">Midikov. &#9939;</h1>
            <p class="font-weight-bold">
                <div class="dropdown">
                  <button class="dropbtn bg-secondary font-weight-bold" id="sourceButton">Music Source</button>
                  <div class="dropdown-content">
                    <a href="#" name="category" id="category1">Pokemon</a>
                    <a href="#" name="category" id="category2">Final Fantasy</a>
                    <a href="#" name="category" id="category3">Legend of Zelda</a>
                  </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn bg-secondary font-weight-bold" id="orderButton">Markov Order</button>
                    <div class="dropdown-content">
                      <a href="#" name="order" id="order1">Order 1</a>
                      <a href="#" name="order" id="order2">Order 2</a>
                      <a href="#" name="order" id="order3">Order 3</a>
                      <a href="#" name="order" id="order4">Order 4</a>
                    </div>
                </div>
                <button type="submit" class="btn-generate font-weight-bold" id="generate" name="generate">Generate song!</button>
            </p>
            <p class="font-weight-bold">
                <button class="dropbtn bg-dark font-weight-bold" type="button" id="playButton" name="play">▶️</button>
                <button class="dropbtn bg-dark font-weight-bold" type="button" id="pauseButton" name="pause">| |</button>
                <button class="dropbtn bg-dark font-weight-bold" type="button" id="stopButton" name="stop">&#x25A0;</button>
                <button class="dropbtn bg-dark font-weight-bold" type="button" id="songTitle" name="title"><em>No song generated.</em></button>
                <button class="dropbtn bg-dark font-weight-bold btn-download" type="button" id="downloadButton" name="download">Download &#x25BC;</button>
            </p>
        </div>
    </div>
</div>
