<!-- index.handlebars -->
<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h1 class="text-white">Mimikov. &#9939;</h1>
            <p class="font-weight-bold">
                <div class="dropdown">
                  <button class="dropbtn bg-secondary font-weight-bold">Music Source</button>
                  <div class="dropdown-content">
                    <a href="#">Madonna</a>
                    <a href="#">Final Fantasy</a>
                    <a href="#">Beethoven</a>
                  </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn bg-secondary font-weight-bold">Markov Order</button>
                    <div class="dropdown-content">
                      <a href="#">1</a>
                      <a href="#">2</a>
                      <a href="#">3</a>
                    </div>
                </div>
                <button type="submit" class="btn-generate font-weight-bold" name="generate">Generate song!</button>
            </p>
            <p class="font-weight-bold">
                <button class="dropbtn bg-dark font-weight-bold" type="button" id="playButton" name="play">▶️</button>
                <button class="dropbtn bg-dark font-weight-bold" type="button" id="pauseButton" name="pause">| |</button>
                <button class="dropbtn bg-dark font-weight-bold" type="button" id="stopButton" name="stop">&#x25A0;</button>
                <button class="dropbtn bg-dark font-weight-bold" type="button" name="title"><em>No song generated.</em></button>
                <button class="dropbtn bg-dark font-weight-bold" type="button" name="download">Download &#x25BC;</button>
            </p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-xs-8">

        </div>
    </div> -->
</div>
