<!-- test.handlebars -->
<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h3 class="text-white">Test page</h3>
            <br>
            <p class="text-white"><a href="test/write">Write MIDIs to file</a></p>
            <p class="text-white"><a href="test/analyze">Analyze 1 MIDI</a></p>
            <p class="text-white"><a href="test/transform">Transform a MIDI</a></p>
            <p class="text-white"><a href="test/assemble">Assemble a MIDI</a></p>
            <p class="text-white"><a href="test/scratch">Run testpad</a></p>
            <p class="text-white"><a href="test/map">Generate Markov Map</a></p>
        </div>
    </div>
</div>
